.textField {
  background-color: hsl(210, 11.1%, 96.5%);
  width: auto;
  height: auto;
  flex-grow: 1;
  font-size: 0.6875rem;
  padding: 0.75rem 1.5rem;

  &.rounded {
    border-radius: 1.5rem;
  }
}
