.scheduleItem {
  color: hsl(211.4, 15.6%, 26.5%);
  font-family: Calibri, serif;
  flex-grow: 1;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  .timezoneData {
    width: auto;
    flex-grow: 1;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0.5rem;

    .mainData, .secondaryData {
      font-weight: 600;
      font-size: 1.0rem;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .secondaryData {
      font-weight: normal;
      font-size: 0.8rem;
      align-items: start;
    }
  }
  .button {
    color: hsl(211.4, 15.6%, 26.5%);
    font-size: 0.68rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .controlContainer {
    width: 35%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
  }

  .nextDayButton, .previousDayButton, .homeToggleButton, .removeButton {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100rem;
    align-self: center;

    &:hover {
      color: rgba(244, 156, 118, 1.0);
    }
  }

  .homeToggleButton {
    background-color: hsl(210, 11.1%, 96.5%);
  }
}
